@use 'element-plus/dist/index.css';

:host {
    --el-border-color: var(--bs-border-color); // added by g_c-l
    --el-color-primary: var(--bs-primary);
//    --el-border-width: var(--bs-border-width); Not working
    --el-border-radius-base: var(--bs-border-radius);
    --el-menu-border-color: var(--el-border-color);
    --el-text-color-regular: var(--bs-body-color); // Text of selector options
    --el-fill-color-light: var(--bs-secondary-bg); // Selected option and hover background color
    --el-input-bg-color: var(--bs-body-bg); // This and --el-fill-color-blank are used for search input background
    --el-fill-color-blank: var(--bs-body-bg);
    --el-font-size-base: var(--bs-body-font-size); // Font size of search input
}

.el-button {
    --el-button-font-weight: var(--bs-btn-font-weight);
}

.el-button--primary {
    --el-button-text-color: var(--bs-emphasis-color);
    --el-button-disabled-bg-color: var(--bs-primary);
    --el-button-disabled-border-color: var(--bs-primary);
    --el-button-hover-border-color: var(--bs-primary);
    --el-button-hover-bg-color: var(--bs-primary);
    --el-button-hover-text-color: var(--bs-emphasis-color);
    --el-button-disabled-text-color: var(--bs-emphasis-color);
}

.el-button.is-disabled {
    opacity: 0.5;
}

.el-button:hover {
    opacity: 0.8;
}

.el-transfer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-transfer-panel {
    width: calc(45% - 25px * 2); // Make it take up all the space
}

.transfer-container {
    margin-top: 1rem;
}

.transfer-container.invalid .el-transfer-panel:last-child {
    & > .el-transfer-panel__body {
        border-color: var(--bs-danger);
    }
    & > .el-transfer-panel__header {
        border-color: var(--bs-danger) var(--bs-danger) var(--el-border-color) var(--bs-danger);
    }
}

.invalid .el-select__wrapper {
    --el-border-color: var(--bs-danger);
}

.el-select__wrapper.is-filterable,
.el-select-dropdown,
.el-select {
    font-size: 16px !important;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    border-color: var(--bs-body-color) !important;
//    border-width: 4px; // var(--bs-border-width) !important; Not working
    border-radius: var(--bs-border-radius) !important;
}

.el-popper.is-pure.is-light { //.el-select__popper .el-select-dropdown {
    font-size: 16px !important;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}